* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ddcontainersource {
  cursor: grab !important;

  &:active {
    cursor: grabbing !important;
  }
}

.ddcontainerghost {
  cursor: grabbing !important;
  pointer-events: all !important;
  user-select: none !important;
  display: block;
  opacity: 1 !important;

  &:active {
    cursor: grabbing !important;
    pointer-events: all !important;
  }
}
